:root {
  --columns-single: 1;
  --columns-double: 2;
  --columns-triple: 3;
  --column-gap: var(--gutter);
}

.columns-2 {
  column-count: 2;
  column-gap: var(--column-gap);
}

.columns-3 {
  column-count: 3;
  column-gap: var(--column-gap);
}

.full-bleed {
  margin-left: calc(-1 * var(--margin-outer));
  margin-right: calc(-1 * var(--margin-inner));
  width: calc(100% + var(--margin-outer) + var(--margin-inner));
}
